
@{
    Layout = "_LayoutAdminDashboard";
}
<div class="container" >
    <div class="row justify-content-between" >
        <div class="col-6"><h3>Notes</h3></div>
        <div class="col-6" >
            <a class="relogin" asp-controller="home" asp-action="SubmitRequestPage"><button class="relogin shadow-none bg-white">Back</button></a>
        </div><br /><br /><br /><br />
    </div>
    <div class="row d-flex">
        <div class="col d-flex mx-4" style="box-shadow:  3px 5px 6px #ccc">
            <div class="col-1 mt-3 ">
                <i class='bi bi-arrow-left-right' style='font-size:28px'></i>
            </div>
            <div class="col mt-3">
                <h4>Transfer Notes</h4><h6>Admin transfered to Dr.Agola on 27/09/23 at 09:38:34 AM test assign</h6>
            </div>
        </div>
        <div class="col d-flex mx-4" style="box-shadow:  3px 5px 6px #ccc">
            <div class="col-1 mt-3 ">
                <i class="fa fa-user-md" style="font-size:28px"></i>
            </div>
            <div class="col mt-3">
                <h4>Physician Notes</h4><h6>test add,concluded</h6>
            </div>
        </div>
    </div><br />
    <div class="row d-flex">
        <div class="col d-flex mx-4" style="box-shadow:  3px 5px 6px #ccc">
            <div class="col-1 mt-3 ">
                <i class='fa fa-user' style='font-size:28px'></i>
            </div>
            <div class="col-5 mt-3">
                <h4>Admin Notes</h4><h6><light>--</light></h6>
            </div>
        </div>
        <div class="col d-flex mx-4" style="box-shadow:  3px 5px 6px #ccc">
            <div class="col-1 mt-3 ">
                <i class="fa fa-users-medical" style='font-size:28px'></i>
            </div>
            <div class="col mt-3">
                <h4>Patients Notes</h4><h6>test add,concluded</h6>
            </div>
        </div>
    </div><br />
    <div class="row d-flex">
        <div class="col d-flex mx-4" style="box-shadow:  3px 5px 6px #ccc">
            <div class="col-1 mt-3 ">
                <i class="fa fa-window-close" style='font-size:28px'></i>
            </div>
            <div class="col mt-3">
                <h4>Admin Cancellation Notes</h4><h6><light>--</light></h6>
            </div>
        </div>
        <div class="col d-flex mx-4" style="box-shadow:  3px 5px 6px #ccc">
            <div class="col-1 mt-3 ">
                <i class='fa fa-times-circle' style='font-size:28px'></i>
            </div>
            <div class="col mt-3">
                <h4>Physician Cancellation Notes</h4><h6>test add,concluded</h6>
            </div>
        </div>
    </div><br />
    <div class="row d-flex">
        <div class="col d-flex mx-4" style="box-shadow:  3px 5px 6px #ccc">
            <div class="col-1 mt-3 ">
                <i class="fa fa-close" style='font-size:28px'></i>
            </div>
            <div class="col mt-3">
                <h4>Patient Cancellation Notes</h4><h6><light>--</light></h6>
            </div>
        </div>
        <div class="col d-flex mx-4" >
            @*<div class="col-1 mt-3 ">
                <i class="fas fa-users-medical" style='font-size:28px'></i>
            </div>
            <div class="col mt-3">
                <h4>Physician Cancellation Notes</h4><h6>test add,concluded</h6>
            </div>*@
        </div>
    </div><br />
    <div class="row d-flex">
        <div class="col d-flex mx-4">
            <div class="col form-floating  space">
                <textarea @*asp-for="Symptoms"*@ class="form-control shadow-none " id="adminnotes" placeholder="details"></textarea>
                <label for="adminnotes"> Admin Notes</label>
            </div>
        </div>
    </div><br />
    <<div class="row space">
        <div class="d-flex justify-content-end ">
            <button type="submit" class="submission bg-info rounded-2 border border-outline-info text-white ">Save changes</button>
        </div>
    </div>
</div>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>