@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Reset Password";
    Layout = "_LayoutLogin";
}
<div class="container">
    <div class="view min-vh-100">
        <div class="row darkModeLogin">
            <button class="change" onclick="myFunction()">
                <image src="../images/moon image.png">
            </button>
        </div>
        <div class="mainLogin bg-image">
        </div>
        <div class="mainLogin">
            <div>
                <a asp-controller="Home" asp-action="loginPage" class="backLogin"><b>< Back</b></a>
            </div>
            <div class="detailsLogin">
                <p>Reset Your Password</p>
                <form class="form-horizontal">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control usernameLogin" placeholder="username" style="width:380px;">
                        <i class="fa fa-user-circle userLogin"></i>
                        <label for="floatingInput">Username</label>
                    </div>
                    <a href="#"><button class="logInBtnLogin">Reset Password</button></a>
                    <div class="backToLogLogin">
                        <a id="reLoginLogin" asp-controller="Home" asp-action="loginPage"><b>< Back to Login</b></a>
                    </div>
                </form>
            </div>
        </div>
        <div class=" tandcLogin">
            <div><a href="#" id="tocLogin">Terms of conditions</a></div>
            <div><a href="#" id="tocLogin">&nbsp;&nbsp;        Privacy Policy</a></div>
        </div>
    </div>
</div>
