@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "SubmitCreateRequest";
    Layout = "_LayoutCreateRequest";
}
<html>
    <head>
     <link href="~/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="mt-4">
            <div class=" row justify-content-center">
                <p>To provide best medical service,we cannot determine the cost right away, if you agree to out service, so we will provide care abd follow-up until all care is completed.So with this points,if you like us to provide care to yo click on 'Agree' and we'll get started immediately, if you do not agree simply click 'Cancel'</p>
            </div>
            <div class=" row d-flex justify-content-between">
                <div class=" col-6">
                    <button asp-controller="" asp-action="" class="bg-success border-success text-white p-1 rounded">I Agree</button>
                </div>
                <div class=" col-6 align-items-end">
                    <button asp-controller="" asp-action="" class="bg-danger border-danger text-white p-1 rounded">Cancel</button>
                </div>
            </div>
        </div>
    </body>
</html>